In [1]:
from pprint import pprint
from state_codes import states_hash, states_fips_hash

import pandas as pd

# pprint(states_hash)

In [24]:
path_csv = 'firearms_listings.csv'
df = pd.read_csv(path_csv, converters={'Lic Cnty': lambda x: str(x)}) #make sure to import county number as string so leading 0s preserved
df = df.dropna(subset=['Mail State'])
df.head()

  Lic Cnty                            License Name Mail State
0      003               HERNANDEZ-MUNOZ, GILBERTO         PR
1      003  AGUADA ARMORY SHOOTING AND RENTAL CORP         PR
2      003                  SALAZAR MORET, CHARLES         PR
3      005              CARDONA-VALENTIN, VIRGINIA         PR
4      013             GUTIERREZ-MARTINEZ, ORLANDO         PR

In [32]:
full_state_names = [states_hash[i] for i in list(df['Mail State'].values)]
state_codes = [states_fips_hash[i] for i in full_state_names]
county_codes = [state_codes[i] + str(df['Lic Cnty'].values[i]) for i in range(len(state_codes))]
county_codes = [code.lstrip('0') for code in county_codes]
df['County Code'] = county_codes
df.head()

  Lic Cnty                            License Name Mail State County Code
0      003               HERNANDEZ-MUNOZ, GILBERTO         PR       72003
1      003  AGUADA ARMORY SHOOTING AND RENTAL CORP         PR       72003
2      003                  SALAZAR MORET, CHARLES         PR       72003
3      005              CARDONA-VALENTIN, VIRGINIA         PR       72005
4      013             GUTIERREZ-MARTINEZ, ORLANDO         PR       72013

In [33]:
dealer_counts = df.groupby('County Code').count()
dealer_counts = dealer_counts.pop('Lic Cnty')
# dealer_counts = dealer_counts.rename(columns = {'Lic Cnty': 'Gun Seller Count'})
dealer_counts = dealer_counts.sort_index()
dealer_counts.head()
# print(len(dealer_counts))

County Code
10001    18
10003    51
10005    68
1001     21
10011     1
Name: Lic Cnty, dtype: int64

In [34]:
# number of gun dealers in Yolo County
dealer_counts.loc['6113']

24

In [35]:
dealer_counts.to_csv('gun_seller_counts.csv', header=True)