In [1]:
from pprint import pprint
from state_codes import states_hash, states_fips_hash

import pandas as pd

# pprint(states_hash)

In [11]:
path_csv = 'firearms_listings.csv'
df = pd.read_csv(path_csv)
df = df.dropna(subset=['Mail State'])

In [13]:
full_state_names = [states_hash[i] for i in list(df['Mail State'].values)]
state_codes = [states_fips_hash[i] for i in full_state_names]
county_codes = [state_codes[i] + str(df['Lic Cnty'].values[i]) for i in range(len(state_codes))]
county_codes = [code.lstrip('0') for code in county_codes]
df['County Code'] = county_codes
df.head()

   Lic Cnty                            License Name Mail State County Code
0         3               HERNANDEZ-MUNOZ, GILBERTO         PR         723
1         3  AGUADA ARMORY SHOOTING AND RENTAL CORP         PR         723
2         3                  SALAZAR MORET, CHARLES         PR         723
3         5              CARDONA-VALENTIN, VIRGINIA         PR         725
4        13             GUTIERREZ-MARTINEZ, ORLANDO         PR        7213

In [54]:
dealer_counts = df.groupby('County Code').count()
dealer_counts = dealer_counts.pop('Lic Cnty')
# dealer_counts = dealer_counts.rename(columns = {'Lic Cnty': 'Gun Seller Count'})
dealer_counts.head()

County Code
101     18
1011     1
1015     1
103     51
105     68
Name: Lic Cnty, dtype: int64

In [46]:
# number of gun dealers in Yolo County
dealer_counts.loc['6113']

Lic Cnty        24
License Name    24
Mail State      24
Name: 6113, dtype: int64

In [55]:
dealer_counts.to_csv('gun_seller_counts.csv', header=True)